<ul class="nav">
  <li class="nav-item">
    <a routerLink="/" class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item" *ngIf="!user">
    <a routerLink="/login" class="nav-link" href="#">Log In</a>
  </li>
  <li class="nav-item">
    <a routerLink="/items" class="nav-link" href="#">Items</a>
  </li>
  <li class="nav-item" *ngIf="user">
    <a routerLink="/myitems" class="nav-link">My Items</a>
  </li>
  <button *ngIf="user" (click)="logOut()">Log out</button>
  <p *ngIf="user">Welcome {{user.username}}</p>
</ul>
