<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Home</a>
    </div>
    <!-- <div class="collapse navbar-collapse"> -->
      <div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="!user">
          <a routerLink="/login">Log In</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/items">Items</a>
        </li>
        <li routerLinkActive="active" *ngIf="user">
          <a routerLink="/myitems">My Items</a>
        </li>
        <!-- <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li> -->
      </ul>
    </div>
  </div>
  <button *ngIf="user" (click)="logOut()">Log out</button>
</nav>
<p *ngIf="user">Welcome {{user.username}}</p>
